@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Galdeano:regular);
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.galdeano-regular {
  font-family: "Galdeano", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Heavy"), local("Futura-PT-Heavy"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Demi"), local("Futura-PT-Demi"), url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Book"), local("Futura-PT-Book"), url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.batton {
  width: 286px;
  height: 50px;
  background-color: var(--second-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
}
.batton__img {
  width: 13px;
  height: 13px;
  order: 0;
  flex-grow: 0;
  gap: 10px;
}
.batton__img--update {
  width: 20px;
  height: 19.35px;
}
.batton__lable {
  color: var(--white-color);
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.batton__date {
  color: var(--white-color);
  font-family: Futura PT;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.batton--sync {
  width: 316px;
  height: 50px;
}

:root {
  --first-color: #ff6600;
  --second-color: #172139;
  --bg-color: #f4f4f4;
  --white-color: #ffffff;
  --dark-color: #000;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 11 15px;
  background-color: var(--bg-color);
}

.header {
  background-color: var(--white-color);
  padding: 16px 30px;
}
.header__logo {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}
.header__logo .logo__img {
  padding: 8px 0;
}

.page {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.page__menu-list {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}
.page__menu-link {
  color: var(--second-color);
  padding: 0 15px;
  width: 290px;
  height: 62px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.page__menu-link--active {
  background-color: var(--second-color);
  color: var(--white-color);
}
.page__menu-lable {
  font-family: Futura PT;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.page__menu-img {
  width: 15px;
  height: 14px;
}
.page__menu-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page__content {
  width: calc(100% - 290px);
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.page__loc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.page__loc-list {
  display: flex;
  gap: 44.5px;
}
.page__loc-title {
  color: var(--dark-color);
  font-family: Futura PT;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.page__loc-link {
  width: 165px;
  height: 37px;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  color: var(--dark-color);
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
.page__loc-link--active {
  background-color: var(--second-color);
  color: var(--white-color);
}
.page__sync {
  width: 50%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 25px;
}/*# sourceMappingURL=style.css.map */