@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Galdeano:regular);
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.galdeano-regular {
  font-family: "Galdeano", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Heavy"), local("Futura-PT-Heavy"), url("../fonts/FuturaPT-Heavy.woff2") format("woff2"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Demi"), local("Futura-PT-Demi"), url("../fonts/FuturaPT-Demi.woff2") format("woff2"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Medium"), local("Futura-PT-Medium"), url("../fonts/FuturaPT-Medium.woff2") format("woff2"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: local("Futura PT Book"), local("Futura-PT-Book"), url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.batton {
  width: 286px;
  height: 50px;
  background-color: var(--second-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}
.batton__img {
  width: 13px;
  height: 13px;
  order: 0;
  flex-grow: 0;
  gap: 10px;
}
.batton__img--update {
  width: 20px;
  height: 19.35px;
}
.batton__lable {
  color: var(--white-color);
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.batton__date {
  color: var(--white-color);
  font-family: Futura PT;
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 10%;
  text-align: center;
  text-transform: uppercase;
}
.batton--sync {
  width: 316px;
  height: 50px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
}
.checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--first-color);
  border-radius: 5px;
}
.checkbox:checked::before {
  background-color: var(--first-color);
  background-image: url(../img/chek.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

:root {
  --first-color: #ff6600;
  --second-color: #172139;
  --bg-color: #f4f4f4;
  --white-color: #ffffff;
  --dark-color: #000;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto;
  padding: 11 15px;
  background-color: var(--bg-color);
}
.container__close {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px;
  z-index: 5;
  cursor: pointer;
}
.container--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.container--active .container__close {
  display: block;
}

.header {
  background-color: var(--white-color);
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}
.header__logo .logo__img {
  padding: 8px 0;
}
.header__exit {
  width: 16px;
  height: 14px;
}

.page {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.page__menu-list {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}
.page__menu-link {
  color: var(--second-color);
  padding: 0 15px;
  width: 290px;
  height: 62px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.page__menu-link--active {
  background-color: var(--second-color);
  color: var(--white-color);
}
.page__menu-lable {
  font-family: Futura PT;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.page__menu-img {
  width: 15px;
  height: 14px;
}
.page__menu-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page__content {
  width: calc(100% - 290px);
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.page__loc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
}
.page__loc-list {
  display: flex;
  gap: 44.5px;
}
.page__loc--options {
  width: 100%;
}
.page__loc-title {
  color: var(--dark-color);
  font-family: Futura PT;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.page__loc-title--options {
  height: 32px;
}
.page__loc-title--options {
  width: 100%;
  gap: 50px;
}
.page__loc-link {
  width: 165px;
  height: 37px;
  padding: 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  color: var(--dark-color);
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}
.page__loc-link--active {
  background-color: var(--second-color);
  color: var(--white-color);
}
.page__sync {
  width: 50%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 25px;
}
.page__sync-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page__sync-search-input {
  width: 300px;
  height: 50px;
  padding: 15px 39px;
  background-image: url(../img/search.svg);
  border: 1px solid #d7d7d7;
  background-repeat: no-repeat;
  background-position: center left 15px;
}
.page__sync-search-input::-moz-placeholder {
  color: #bebebe;
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.page__sync-search-input::placeholder {
  color: #bebebe;
  font-family: Futura PT;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.page__sync-search-lable {
  color: var(--dark-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.page__sync-btn {
  cursor: pointer;
}

.page__table {
  margin-top: 41.5px;
}
.page__table-title {
  color: var(--dark-color);
  font-family: Futura PT;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.page__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.page__footer-text {
  color: var(--dark-color);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.page__footer-doc {
  display: flex;
  gap: 7px;
}
.page__footer-dokText {
  width: 170px;
  color: var(--first-color);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.page__footer-pharagraph {
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
.page__footer-text {
  color: rgb(165, 165, 165);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
.page__footer-svg {
  width: 20px;
  height: 20px;
}

.header,
.page__footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page {
  flex-grow: 1;
}/*# sourceMappingURL=style.css.map */