.batton {
    width: 286px;
    height: 50px;
    background-color: var(--second-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    &__img {
        width: 13px;
        height: 13px;
        order: 0;
        flex-grow: 0;
        gap: 10px;
    }
    &__img--update {
        width: 20px;
        height: 19.35px;
    }
    &__lable {
        color: var(--white-color);
        font-family: Futura PT;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
    }
    &__date {
        color: var(--white-color);
        font-family: Futura PT;
        font-size: 10px;
        font-weight: 600;
        line-height: 13px;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
    }

    &--sync {
        width: 316px;
        height: 50px;
    }
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid var(--first-color);
        border-radius: 5px;
    }

    &:checked::before {
        background-color: var(--first-color);
        background-image: url(../img/chek.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
    }
}
