//FONTS
@import "./fonts";
@import "./unify";

//VARIABLES
:root {
    --first-color: #ff6600;
    --second-color: #172139;
    --bg-color: #f4f4f4;
    --white-color: #ffffff;
    --dark-color: #000;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    padding: 11 15px;
    background-color: var(--bg-color);
    &__close {
        display: none;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: 15px;
        z-index: 5;
        cursor: pointer;
    }
    &--active {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--dark-color);
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 4;
        }

        .container__close {
            display: block;
        }
    }
}
.header {
    background-color: var(--white-color);
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 8px;
        .logo__img {
            padding: 8px 0;
        }
    }
    &__exit {
        width: 16px;
        height: 14px;
    }
}

.page {
    margin-top: 30px;
    display: flex;
    gap: 30px;

    &__menu {
        &-list {
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 15px;
        }

        &-link {
            color: var(--second-color);
            padding: 0 15px;
            width: 290px;
            height: 62px;
            display: flex;
            align-items: center;
            gap: 10px;
            &--active {
                background-color: var(--second-color);
                color: var(--white-color);
            }
        }

        &-lable {
            font-family: Futura PT;
            font-size: 17px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
        }
        &-img {
            width: 15px;
            height: 14px;
        }

        &-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    &__content {
        width: calc(100% - 290px);
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__loc {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
        &-list {
            display: flex;
            gap: 44.5px;
        }
        &--options {
            width: 100%;
        }

        &-title {
            color: var(--dark-color);
            font-family: Futura PT;
            font-size: 32px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            &--options {
                height: 32px;
            }

            &--options {
                width: 100%;
                gap: 50px;
            }
        }

        &-link {
            width: 165px;
            height: 37px;
            padding: 10px;
            background: rgb(255, 255, 255);
            border-radius: 5px;

            color: var(--dark-color);
            font-family: Futura PT;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: center;
            &--active {
                background-color: var(--second-color);
                color: var(--white-color);
            }
        }
    }

    &__sync {
        width: 50%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 25px;
        &-search {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            &-input {
                width: 300px;
                height: 50px;
                padding: 15px 39px;
                background-image: url(../img/search.svg);
                border: 1px solid #d7d7d7;
                background-repeat: no-repeat;
                background-position: center left 15px;
                &::placeholder {
                    color: #bebebe;
                    font-family: Futura PT;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 10%;
                    text-align: left;
                    text-transform: uppercase;
                }
            }

            &-lable {
                color: var(--dark-color);
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
            }
        }

        &-btn {
            cursor: pointer;
        }
    }
}

.page__table {
    margin-top: 41.5px;

    &-title {
        color: var(--dark-color);
        font-family: Futura PT;
        font-size: 32px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }
}

.page__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    &-text {
        color: var(--dark-color);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &-doc {
        display: flex;
        gap: 7px;
    }
    &-dokText {
        width: 170px;
        color: var(--first-color);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration-line: underline;
    }
    &-pharagraph {
        display: flex;
        gap: 30px;
        margin: 0 auto;
    }
    &-text {
        color: rgb(165, 165, 165);
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
    }

    &-svg {
        width: 20px;
        height: 20px;
    }
}
.header,
.page__footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.page {
    flex-grow: 1;
}
